{% extends 'core/base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block content %}

<div class="content media_item_bottom">
    <div class="title">
        <p style="text-align: center;">My account</p>
    </div>

    <div class="navbar-item account_button">
        <a class="button is-small" style="margin: 0 5px;" href="{% url 'socialaccount_connections' %}">Socialaccount</a>
        <a class="button is-small" style="margin: 0 5px;" href="{% url 'account_email' %}">E-mail</a>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-small" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
        <a href="{% url 'account_logout' %}" class="button is-danger is-inverted"
           style="padding: 0 5px; margin-left: 7px;">
            <ion-icon name="log-out-outline"></ion-icon>
        </a>
    </div>

    <div class="columns">

        <div id="reviews" class="column is-8">
            <p class="subtitle" style="margin: 10px;">Your added comments:</p>

            <p v-if="reviews.length === 0" style="margin: 0 10px;">No reviews yet...</p>

            <div v-for="review, index in reviews" v-bind:key="review.id" class="notification space-below review">

                <div v-show="review.editReview">
                    <p class="has-text-centered"><strong>[[ review.media_item_title ]]</strong></p>

                    <a :href="review.media_item_url">
                        <figure class="image is-64x64" style="margin: auto;">
                            <img v-if="review.media_item_img" :src="review.media_item_img">
                            <img v-else src="{% static 'core/images/no_photo.jpeg' %}">
                        </figure>
                    </a>

                    <span><strong>[[ review.date_added ]]</strong><i v-show="review.edited"> edited</i></span>
                    <div style="margin-top: 20px;">
                        <textarea class="textarea" v-model="review.content"></textarea>

                        <div style="display: flex; justify-content: flex-end;">

                            <a v-on:click="cancelEditReview(index)" class="button is-danger is-light"
                               style="align-self: end; margin: 14px 5px 0 0;">
                                Cancel changes
                            </a>

                            <a v-on:click="submitEditReview(review.id, index)" class="button is-success is-light"
                               style="align-self: end; margin-top: 14px;">
                                Submit changes
                            </a>

                        </div>
                    </div>

                    <a v-on:click="deleteReview(review.id, index)"
                       style="position: absolute; right: 0.5rem; top: 0.5rem;">
                        <button class="delete"></button>
                    </a>
                </div>

                <div v-show="review.showContent">
                    <p class="has-text-centered"><strong>[[ review.media_item_title ]]</strong></p>

                    <a :href="review.media_item_url">
                        <figure class="image is-64x64" style="margin: auto;">
                            <img v-if="review.media_item_img" :src="review.media_item_img">
                            <img v-else src="{% static 'core/images/no_photo.jpeg' %}">
                        </figure>
                    </a>

                    <span><strong>[[ review.date_added ]]</strong><i v-show="review.edited"> edited</i></span>
                    <div style="margin-top: 20px; padding-bottom: 10px;">
                        <p class="review_body">[[ review.content ]]</p>
                    </div>

                    <a v-on:click="deleteReview(review.id, index)"
                       style="position: absolute; right: 0.5rem; top: 0.5rem;">
                        <button class="delete"></button>
                    </a>

                    <a v-on:click="showEditReview(index)"
                       style="position: absolute; right: 0.5rem; bottom: 0.5rem;">
                        <ion-icon name="create-outline"></ion-icon>
                    </a>
                </div>

            </div>
        </div>

        <div class="column is-4 column_frontpage">
            <p class="subtitle" style="margin: 10px;">Your liked items:</p>

            {% for item in request.user.likes.all %}

            <a href="{{ item.get_absolute_url }}" style="width: 100%;">
                <div class="card" style=" margin-bottom: 10px;">
                    <div class="card-content" style="padding: 0;">
                        <div class="media" style="align-items: center;">

                            <div class="media-left" style="align-items: center;">
                                <figure class="image is-48x48">
                                    {% if item.image %}
                                    <img src="{{ item.image.url }}">
                                    {% else %}
                                    <img src="{% static 'core/images/no_photo.jpeg' %}">
                                    {% endif %}
                                </figure>
                            </div>

                            <div class="media-content">
                                <p class="title is-4" style="padding: 5px;">{{ item.title }}</p>
                                <p class="subtitle is-6" style="padding: 5px;">{{ item.subcategory }}</p>

                                <span class="icon-text views_likes">
                                    <span class="icon">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </span>
                                    <span>{{ item.views }}</span>

                                    <figure class="icon image is-16x16" style="margin: 1px;">
                                        <img src="{% static 'core/images/dislike-pink.PNG' %}" alt="dislike">
                                    </figure>
                                    <span>{{ item.total_likes }}</span>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
            <p style="margin: 0 10px;">No likes yet...</p>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script>

Vue.config.ignoredElements = [/^ion-/]

var vue = new Vue({
    el: '#reviews',
    delimiters: ['[[', ']]'],
    data() {
        return {
            reviews: {{ reviews_data|safe }},
            savedContent: ''
        }
    },

    created(){
        this.prepareList();
    },

    methods: {
        prepareList() {
            for (var i = 0; i < this.reviews.length; i++) {
                Vue.set(this.reviews[i], 'editReview', false),
                Vue.set(this.reviews[i], 'showContent', true)
            };
        },

        showEditReview(index) {
            this.reviews[index].editReview = true,
            this.reviews[index].showContent = false,
            this.savedContent = this.reviews[index].content
        },

        cancelEditReview(index) {
            this.reviews[index].editReview = false,
            this.reviews[index].showContent = true,
            this.reviews[index].content = this.savedContent
        },

        submitEditReview(review_id, index) {
            var data =  {
                'operation': 'edit_review',
                'review_id': review_id,
                'content': this.reviews[index].content
            };

            if (data.content != this.savedContent) {

                fetch("{% url 'edit_review' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                })

                .then(response => response.json())
                .then(data => {
                    if (data.success === true) {
                        this.reviews[index].content = data.content,
                        this.reviews[index].editReview = false,
                        this.reviews[index].showContent = true,
                        this.reviews[index].edited = data.edited,
                        this.savedContent = ''
                    } else {
                        console.log(response.data)
                    }
                })
                .catch(function (error) {
                    console.log('error:', error);
                });

            } else {
                this.reviews[index].editReview = false,
                this.reviews[index].showContent = true,
                this.savedContent = ''
            };
        },

        deleteReview(review_id, index) {
            var data =  {
                'operation': 'delete_review',
                'review_id': review_id
            };

            fetch("{% url 'delete_review' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
            })

            .then(response => response.json())
            .then(data => {
                if (data.success == true) {
                    console.log('element review_id_' + review_id + ' was deleted'),
                    this.reviews.splice(index, 1);
                } else {
                    console.log(response.data)
                }
            })

            .catch(function (error) {
                console.log('error:', error);
            })
        }
    }
})

</script>

{% endblock scripts %}
