{% extends "core/base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block content %}

<div class="column is-6 is-offset-3">
    {% if process == "connect" %}
        <h1 class="subtitle has-text-centered">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <div class="field is-grouped">
        <div class="control">
            <form method="post">
            {% csrf_token %}
                <button class="button is-link" type="submit">{% trans "Continue" %}</button>
            </form>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="/">{% trans "Cancel" %}</a>
        </div>
    </div>

</div>
{% endblock %}