{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block content %}

<div class="content log-in">
    {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p>
            {% blocktrans with provider.name as provider %}You are about to connect a new third party account from
            {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p>
            {% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
            {{ provider }}.{% endblocktrans %}
        </p>
    {% endif %}

    <div class="field is-grouped">
        <div class="control">
            <form method="post">
            {% csrf_token %}
                <button class="button is-link" type="submit">{% trans "Continue" %}</button>
            </form>
        </div>
        <div class="control">
            <button class="button is-link is-light"><a href="/">Cancel</a></button>
        </div>
    </div>

</div>
{% endblock %}