.logo {
    display: flex;
    justify-content: center;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: start;
}
    @media screen and (max-width: 768px) {
        .navigation {
            justify-content: center;
        }
    }

.log-in {
    padding: 0 250px;
}
    @media screen and (max-width: 960px) {
        .log-in {
            padding: 0 50px;
        }
    }

.contact {
}
    @media screen and (max-width: 960px) {
        .contact {
            display: none;
        }
    }

.navbar-menu {
    justify-content: space-around;
    padding: 0 200px;
}
    @media screen and (max-width: 768px) {
        .navbar-menu {
            padding: 0;
            text-align: center;
        }
    }

.detail {
    justify-content: space-around;
    margin: auto 0px;
    width: 100%;
}

.media_item_card {
    margin: auto;
}

.footer {
    display: flex;
    justify-content: center;
}

.views_likes {
    display: flex;
    justify-content: right;
}

.media_href:active,
.media_href:hover,
.media_href {
    text-decoration: none;
    color: inherit;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: white;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
}

.loaded_hiding .preloader {
    transition: 0.8s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ae7394;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

#topButton:hover {
    opacity: 1;
}
