.logo {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.contact {
}
    @media screen and (max-width: 960px) {
        .contact {
            display: none;
        }
    }


.navbar-menu {
    justify-content: space-around;
    padding: 0 200px;
}
    @media screen and (max-width: 960px) {
        .navbar-menu {
            padding: 0;
            text-align: center;
        }
}