.logo {
    display: flex;
    justify-content: center;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
}

.navigation {
    padding: 0 200px;
    display: flex;
    align-items: left;
    justify-content: start;
}
    @media screen and (max-width: 1114px) {
        .navigation {
            padding: 0px;
            justify-content: center;
        }
    }

.log-in {
    padding: 0 250px;
}
    @media screen and (max-width: 1114px) {
        .log-in {
            padding: 0 50px;
        }
    }

.contact {
}
    @media screen and (max-width: 1114px) {
        .contact {
            display: none;
        }
    }

.navbar-menu {
    justify-content: center;
    padding: 0 200px;
}
    @media screen and (max-width: 1114px) {
        .navbar-menu {
            padding: 0px;
            text-align: center;
        }
    }

.detail {
    justify-content: space-around;
    margin: auto 0px;
    width: 100%;
}

.media_item_card {
    margin: auto;
}

.footer {
    display: flex;
    justify-content: center;
}

.views_likes {
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
}

.media_href:active,
.media_href:hover,
.media_href {
    text-decoration: none;
    color: inherit;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: white;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
}

.loaded_hiding .preloader {
    transition: 0.8s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ae7394;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

#topButton:hover {
    opacity: 1;
}

.media_item_bottom {
    justify-content: space-around;
    padding: 0 200px;
}
    @media screen and (max-width: 1114px) {
        .media_item_bottom {
            padding: 0 15px;
            margin: 10px;
            text-align: justify;
        }
    }

.review {
    text-align: justify;
    padding: 24px;
}
    @media screen and (max-width: 1114px) {
        .review {
            padding: 0 15 24px;
            margin-bottom: 10px;
            text-align: justify;
        }
    }

.column_frontpage {
}
    @media screen and (max-width: 768px) {
        .column_frontpage {
            display: flex;
            flex-wrap: wrap;
        }
    }

.review_body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.about {
    justify-content: space-around;
    padding: 0 200px;
}
    @media screen and (max-width: 1114px) {
        .about {
            padding: 15px;
            margin: 10px;
            text-align: justify;
        }
    }

.media-left {
    margin: 0;
}

.my_account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    @media screen and (max-width: 767px) {
        .account_button {
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }

.lang_switcher {
    position: absolute;
    top: 1%;
    right: 1%;
}