{% extends 'base.html' %}
{% block content %}

<div class="block has-text-centered">
    Some info about zh-gallery:<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt mollitia quam
    voluptates. Aut, consequuntur dicta distinctio dolor est explicabo ipsum laboriosam libero omnis possimus quae quasi
    reiciendis rerum unde voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae blanditiis
    corporis nisi nulla officia sapiente sed soluta tempore vero? Alias assumenda cupiditate necessitatibus placeat
    repudiandae suscipit ut velit voluptatem.
</div>

{% endblock content %}