{% extends 'base.html' %}
{% block content %}

{% with 'About' as item %}
{% include 'parts/back_button_title.html' %}
{% endwith %}
<div class="content about">
    <div class="subtitle">Some info about zh-gallery:</div>
    <div class="columns">
        <div class="column is-9">{{ text.body }}</div>
        {% if text.image %}
            <div class="column is-3" style="">
                <figure class="image">
                    <img style="height: auto; width: 200px;" class="is-rounded" src="{{ text.image.url }}" alt="image">
                </figure>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}