{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description.body }}">
    <title>Zh-gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link href="{% static 'core/images/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Pushster&display=swap"
          rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

<div class="preloader">
    <div class="preloader__image">
        <img src="{% static 'core/images/preloader.gif' %}">
    </div>
</div>

<div class="logo">
    <figure class="image is-128x128">
        <a href="/">
            <img src="{% static 'core/images/logo.png' %}">
        </a>
    </figure>
</div>

<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="main-navbar" class="navbar-menu">
        {% for category in categories.all %}

        <div class="navbar-item">
            <a href="{{ category.get_absolute_url }}">
                <button class="button is-white">
                    {{ category.title }}
                </button>
            </a>
        </div>

        {% endfor %}

        <div class="navbar-item">
            <a href="{% url 'about_view' %}">
                <button class="button is-white">ABOUT<span style="color: #ae7394;">&nbsp;ZH-GALLERY</span></button>
            </a>
        </div>

        <div class="navbar-item" style="display: flex; justify-content: center; align-items: center;">
            {% if user.is_authenticated %}
                <span>Welcome,&nbsp;{{ user }}!&nbsp;</span>
                <a href="{% url 'account_logout' %}?next={{ request.path }}" class="button is-danger is-inverted">
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="button is-info is-light" style="margin: 2px;">
                    Sign In
                </a>
                <a href="{% url 'account_signup' %}" class="button is-info is-light" style="margin: 2px;">
                    Sign Up
                </a>
            {% endif %}
        </div>
    </div>

</nav>

{% block content %}
{% endblock content %}

<footer class="footer" style="padding-bottom: 48px;">
    <div class="columns">
        <div class="has-text-centered">
            <ul>
                <li><a href="{% url 'about_view' %}">ABOUT<span style="color: #ae7394;">&nbsp;ZH-GALLERY</span></a></li>
                <li><a href="{% url 'terms_and_conditions_view' %}">Terms and Conditions</a></li>
                <li><a href="{% url 'privacy_policy_view' %}">Privacy Policy</a></li>
                <li>Social links:</li>
            </ul>

            <div class="navbar-item footer-contact">
                <figure class="image is-24x24">
                    <a href="https://www.instagram.com/zh_note/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png"
                             alt="inst">
                    </a>
                </figure>

                <figure class="image is-24x24">
                    <a href="https://twitter.com/ZhenyaNote">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1024px-Twitter-logo.svg.png"
                             alt="twitt">
                    </a>
                </figure>

                <figure class="image is-24x24">
                    <a href="https://vk.com/zh_note">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/1024px-VK_Compact_Logo_%282021-present%29.svg.png"
                             alt="vk">
                    </a>
                </figure>
            </div>

        </div>
    </div>
</footer>

<button onclick="topFunction()" id="topButton" title="Go to top" style="margin: auto;">
    <ion-icon name="arrow-up-outline"></ion-icon>
</button>

</body>

{% block scripts %}
{% endblock scripts %}

<script>
window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
    }, 500);
}



</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    }
});



</script>

<script>
mybutton = document.getElementById("topButton");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}



</script>

</html>
