{% extends 'base.html' %}
{% load static %}
{% block content %}

{% with category as item %}
{% include 'parts/back_button_title.html' %}
{% endwith %}

<div class="columns is-multiline detail">

    {% for subcategory in subcategories %}
    <div class="column is-3">
        <div class="card">
            <a class="media_href" href="{{ subcategory.get_absolute_url }}">
                <div class="subtitle has-text-centered">{{ subcategory.title }}</div>

                <div class="card-image">
                    <figure class="image">
                        {% if subcategory.image %}
                        <img src="{{ subcategory.image.url }}">
                        {% else %}
                        <img src="{% static 'core/images/no_photo.jpeg' %}">
                        {% endif %}
                    </figure>

                    <span class="icon-text views_likes">
                        <span class="icon">
                            <ion-icon name="eye-outline"></ion-icon>
                        </span>
                        <span>
                            {{ views|get_value:subcategory }}
                        </span>

                        <span class="icon">
                            <ion-icon name="heart-outline"></ion-icon>
                        </span>
                        <span>{{ likes|get_value:subcategory }}</span>
                    </span>

                    <div class="card-content">
                        <div class="content">
                            {% if subcategory.description %}
                                {{ subcategory.description }}
                            {% else %}
                                no description
                            {% endif %}
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}
