{% extends 'base.html' %}
{% load static %}
{% block content %}

{% with media_item as item %}
{% include 'parts/back_button_title.html' %}
{% endwith %}

<div class="content">

    <figure class="image">
        {% if media_item.image %}
        <img src="{{ media_item.image.url }}">
        {% else %}
        <img src="{% static 'core/images/no_photo.jpeg' %}">
        {% endif %}
    </figure>

    <span class="icon-text views_likes">
        <span class="icon">
            <ion-icon name="eye-outline"></ion-icon>
        </span>
        <span>{{ media_item.views }}</span>

        <span class="icon">
            <ion-icon name="heart-outline"></ion-icon>
        </span>
        <span>{likes}</span>
    </span>

    <p>{{ media_item.description }}</p>

<div class="content">comments:</div>
<div class="content">some comments</div>

</div>
{% endblock content %}