{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="columns is-multiline detail">

    {% for item in media_items %}
    <div class="column is-3 media_item_card">
        <div class="card">
            <div class="subtitle has-text-centered">{{ item.title }}</div>
            <div class="card-image">
                <a href="{% url 'media_item_view' subcategory.category.slug subcategory.slug item.slug %}">
                    <figure class="image">
                        {% if item.image %}
                        <img src="{{ item.image.url }}">
                        {% else %}
                        <img src="{% static 'core/images/no_photo.jpeg' %}">
                        {% endif %}
                    </figure>
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    {{ item.description }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}
