<div class="columns" style="margin-bottom: 0;">

    <div class="column is-1 is-hidden-mobile" style="margin: auto;">
        <form style="padding: 0 0 0 20px; margin: auto;">
            <button class="button is-danger is-inverted" type="button" onclick="history.back()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
        </form>
    </div>

    <div class="column is-4 is-hidden-mobile"></div>
    <div class="is-size-4 has-text-centered column is-2" style="margin-bottom: 0;">
        {{ item.title }}
    </div>
    <div class="column is-5 is-hidden-mobile"></div>

</div>