{% extends 'core/base.html' %}

{% load socialaccount %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="column is-6 is-offset-3">
    <h1 class="subtitle has-text-centered">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set ">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button is-link is-light" style="margin-top: 10px;" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
